# 패럴림픽 선수들의 목표 시각화
1. 철학 (philosophy)
2. 야망 (ambition)
3. 영웅 (hero)

In [ ]:
import pandas as pd
import re
from nltk import ngrams
from collections import Counter
import spacy
# English pipelines include a rule-based lemmatizer
nlp = spacy.load("en_core_web_sm")

## 0. Cleaning

In [4]:
df = pd.read_csv('athletes.csv')
df

,name,country,sports,age,gender,philosophy,ambition,hero
0,AAJIM Munkhbat,Mongolia,Judo,32,Male,NaN,NaN,NaN
1,ABARZA Alberto,Chile,Swimming,36,Male,"""Swimming is not an individual sport. Certainl...",To compete at the 2020 Paralympic Games in Tok...,"Chilean tennis player Marcelo Rios, Brazilian ..."
2,ABASLI Namig,Azerbaijan,Judo,23,Male,NaN,NaN,NaN
3,ABASSI Mostefa,Algeria,Wheelchair Basketball,43,Male,"""What doesn't kill you makes you stronger."" (A...",NaN,"US basketballer LeBron James. (Athlete, 26 Aug..."
4,ABBAD Abderraouf,Algeria,Wheelchair Basketball,34,Male,NaN,NaN,"His father. (Athlete, 26 Aug 2021)"
...,...,...,...,...,...,...,...,...
4520,ZURABIANI Zurab,Georgia,Judo,21,Male,NaN,NaN,NaN
4521,ZURBRUGG Lindsey,United States of America,Wheelchair Basketball,22,Female,"""My goal every day is to make another person h...",To compete at the 2020 Paralympic Games in Tok...,NaN
4522,ZVINOWANDA Vimbai,Zimbabwe,Athletics,29,Female,NaN,NaN,"Zimbabwean swimmer Kirsty Coventry, Zimbabwean..."
4523,ZWOUKHI Fathi,Tunisia,Triathlon,35,Male,NaN,NaN,NaN
4524,ZYLKA Krzysztof,Poland,Table Tennis,41,Male,NaN,To compete at the 2020 Paralympic Games in Tok...,"US basketball player Michael Jordan, Polish ta..."

In [17]:
def clean(string):
    if isinstance(string, str):
        string = re.sub('\(.+?\)$', '', string)
        string = re.sub('\"', '', string)
        if string.endswith(' '):
            string = string[:-1]
        return string
    else:
        return 'none'

In [18]:
df['philosophy'] = df['philosophy'].apply(lambda x: clean(x))
df['ambition'] = df['ambition'].apply(lambda x: clean(x))
df['hero'] = df['hero'].apply(lambda x: clean(x))

In [19]:
df

,name,country,sports,age,gender,philosophy,ambition,hero
0,AAJIM Munkhbat,Mongolia,Judo,32,Male,none,none,none
1,ABARZA Alberto,Chile,Swimming,36,Male,Swimming is not an individual sport. Certainly...,To compete at the 2020 Paralympic Games in Tokyo.,"Chilean tennis player Marcelo Rios, Brazilian ..."
2,ABASLI Namig,Azerbaijan,Judo,23,Male,none,none,none
3,ABASSI Mostefa,Algeria,Wheelchair Basketball,43,Male,What doesn't kill you makes you stronger.,none,US basketballer LeBron James.
4,ABBAD Abderraouf,Algeria,Wheelchair Basketball,34,Male,none,none,His father.
...,...,...,...,...,...,...,...,...
4520,ZURABIANI Zurab,Georgia,Judo,21,Male,none,none,none
4521,ZURBRUGG Lindsey,United States of America,Wheelchair Basketball,22,Female,My goal every day is to make another person ha...,To compete at the 2020 Paralympic Games in Tokyo.,none
4522,ZVINOWANDA Vimbai,Zimbabwe,Athletics,29,Female,none,none,"Zimbabwean swimmer Kirsty Coventry, Zimbabwean..."
4523,ZWOUKHI Fathi,Tunisia,Triathlon,35,Male,none,none,none
4524,ZYLKA Krzysztof,Poland,Table Tennis,41,Male,none,To compete at the 2020 Paralympic Games in Tokyo.,"US basketball player Michael Jordan, Polish ta..."

In [36]:
def lemmatize(text):
    doc = nlp(text)
    return [token.lemma_ for token in doc]

df['philosophy_lemma'] = df['philosophy'].apply(lambda x: lemmatize(x))
df['ambition_lemma'] = df['ambition'].apply(lambda x: lemmatize(x))

In [37]:
df.head()

,name,country,sports,age,gender,philosophy,ambition,hero,philosophy_lemma,ambition_lemma
0,AAJIM Munkhbat,Mongolia,Judo,32,Male,none,none,none,[none],[none]
1,ABARZA Alberto,Chile,Swimming,36,Male,Swimming is not an individual sport. Certainly...,To compete at the 2020 Paralympic Games in Tokyo.,"Chilean tennis player Marcelo Rios, Brazilian ...","[swimming, be, not, an, individual, sport, ., ...","[to, compete, at, the, 2020, Paralympic, Games..."
2,ABASLI Namig,Azerbaijan,Judo,23,Male,none,none,none,[none],[none]
3,ABASSI Mostefa,Algeria,Wheelchair Basketball,43,Male,What doesn't kill you makes you stronger.,none,US basketballer LeBron James.,"[what, do, not, kill, -PRON-, make, -PRON-, st...",[none]
4,ABBAD Abderraouf,Algeria,Wheelchair Basketball,34,Male,none,none,His father.,[none],[none]

In [46]:
def hero_list(hero):
    return [re.sub('^ | $|\.', '', h) for h in hero.split(',')]

df['hero_list'] = df['hero'].apply(lambda x: hero_list(x))

In [47]:
df.head()

,name,country,sports,age,gender,philosophy,ambition,hero,philosophy_lemma,ambition_lemma,hero_list
0,AAJIM Munkhbat,Mongolia,Judo,32,Male,none,none,none,[none],[none],[none]
1,ABARZA Alberto,Chile,Swimming,36,Male,Swimming is not an individual sport. Certainly...,To compete at the 2020 Paralympic Games in Tokyo.,"Chilean tennis player Marcelo Rios, Brazilian ...","[swimming, be, not, an, individual, sport, ., ...","[to, compete, at, the, 2020, Paralympic, Games...","[Chilean tennis player Marcelo Rios, Brazilian..."
2,ABASLI Namig,Azerbaijan,Judo,23,Male,none,none,none,[none],[none],[none]
3,ABASSI Mostefa,Algeria,Wheelchair Basketball,43,Male,What doesn't kill you makes you stronger.,none,US basketballer LeBron James.,"[what, do, not, kill, -PRON-, make, -PRON-, st...",[none],[US basketballer LeBron James]
4,ABBAD Abderraouf,Algeria,Wheelchair Basketball,34,Male,none,none,His father.,[none],[none],[His father]

In [48]:
df.to_csv('athletes_cleaned.csv', index=False, encoding='utf-8')

## 1. Philosophy & Ambition

In [51]:
def bigram(lemmas):
    return list(ngrams(lemmas, 2))

df['philosophy_bigram'] = df['philosophy_lemma'].apply(lambda x: bigram(x))
df['ambition_bigram'] = df['ambition_lemma'].apply(lambda x: bigram(x))

In [55]:
def trigram(lemmas):
    try:
        return list(ngrams(lemmas, 3))
    except: # ['none']
        return []

df['philosophy_trigram'] = df['philosophy_lemma'].apply(lambda x: trigram(x))
df['ambition_trigram'] = df['ambition_lemma'].apply(lambda x: trigram(x))

In [56]:
df.sample(10)

,name,country,sports,age,gender,philosophy,ambition,hero,philosophy_lemma,ambition_lemma,hero_list,philosophy_bigram,ambition_bigram,philosophy_trigram,ambition_trigram
3723,SODARIO TORQUATO Nathan Cesar,Brazil,Taekwondo,20,Male,none,To win gold at the 2020 Paralympic Games in To...,none,[none],"[to, win, gold, at, the, 2020, Paralympic, Gam...",[none],[],"[(to, win), (win, gold), (gold, at), (at, the)...",[],"[(to, win, gold), (win, gold, at), (gold, at, ..."
4045,TSUCHIYA Minako,Japan,Judo,31,Female,To live without regrets.,To be happy in my life.,none,"[to, live, without, regret, .]","[to, be, happy, in, -PRON-, life, .]",[none],"[(to, live), (live, without), (without, regret...","[(to, be), (be, happy), (happy, in), (in, -PRO...","[(to, live, without), (live, without, regret),...","[(to, be, happy), (be, happy, in), (happy, in,..."
3073,PEDRELLI Roberta,Italy,Sitting Volleyball,42,Female,Never look back and always go forward. Live ev...,To compete at the 2020 Paralympic Games in Tokyo.,none,"[never, look, back, and, always, go, forward, ...","[to, compete, at, the, 2020, Paralympic, Games...",[none],"[(never, look), (look, back), (back, and), (an...","[(to, compete), (compete, at), (at, the), (the...","[(never, look, back), (look, back, and), (back...","[(to, compete, at), (compete, at, the), (at, t..."
2456,MARCHI Giorgia,Italy,Swimming,20,Female,none,none,none,[none],[none],[none],[],[],[],[]
2839,NICOLAI Boris,Germany,Boccia,36,Male,"If you give only 90% in training, you can not ...",none,Swiss tennis player Roger Federer.,"[if, -PRON-, give, only, 90, %, in, training, ...",[none],[Swiss tennis player Roger Federer],"[(if, -PRON-), (-PRON-, give), (give, only), (...",[],"[(if, -PRON-, give), (-PRON-, give, only), (gi...",[]
3252,RADOVIC Filip,Montenegro,Table Tennis,21,Male,none,To compete at the 2020 Paralympic Games in Tokyo.,Polish table tennis player Natalia Partyka.,[none],"[to, compete, at, the, 2020, Paralympic, Games...",[Polish table tennis player Natalia Partyka],[],"[(to, compete), (compete, at), (at, the), (the...",[],"[(to, compete, at), (compete, at, the), (at, t..."
2449,MAO Jingdian,People's Republic of China,Table Tennis,26,Female,Be the first.,To compete at the 2020 Paralympic Games in Tokyo.,none,"[be, the, first, .]","[to, compete, at, the, 2020, Paralympic, Games...",[none],"[(be, the), (the, first), (first, .)]","[(to, compete), (compete, at), (at, the), (the...","[(be, the, first), (the, first, .)]","[(to, compete, at), (compete, at, the), (at, t..."
3836,SUZUKI Ayako,Japan,Badminton,34,Female,She has competed in able-bodied badminton at n...,To win gold at the 2020 Paralympic Games in To...,none,"[-PRON-, have, compete, in, able, -, bodied, b...","[to, win, gold, at, the, 2020, Paralympic, Gam...",[none],"[(-PRON-, have), (have, compete), (compete, in...","[(to, win), (win, gold), (gold, at), (at, the)...","[(-PRON-, have, compete), (have, compete, in),...","[(to, win, gold), (win, gold, at), (gold, at, ..."
364,BEHRE David,Germany,Athletics,34,Male,If I feel pain during training and just do not...,To win a medal at the 2020 Paralympic Games in...,South African Para athlete Oscar Pistorius.,"[if, -PRON-, feel, pain, during, training, and...","[to, win, a, medal, at, the, 2020, Paralympic,...",[South African Para athlete Oscar Pistorius],"[(if, -PRON-), (-PRON-, feel), (feel, pain), (...","[(to, win), (win, a), (a, medal), (medal, at),...","[(if, -PRON-, feel), (-PRON-, feel, pain), (fe...","[(to, win, a), (win, a, medal), (a, medal, at)..."
1744,ISHIURA Tomomi,Japan,Swimming,33,Female,Endurance makes you stronger.,To win gold at the 2020 Paralympic Games in To...,Japanese Para swimmer Rina Akiyama.,"[endurance, make, -PRON-, strong, .]","[to, win, gold, at, the, 2020, Paralympic, Gam...",[Japanese Para swimmer Rina Akiyama],"[(endurance, make), (make, -PRON-), (-PRON-, s...","[(to, win), (win, gold), (gold, at), (at, the)...","[(endurance, make, -PRON-), (make, -PRON-, str...","[(to, win, gold), (win, gold, at), (gold, at, ..."

In [79]:
def ngram_counter(col_name):
    ngrams = []
    for col in df[col_name].tolist():
        ngrams += [c for c in col if not any(sw in c for sw in ['-PRON-', 'be', 'do', 'the', 'there', 'a', 'and', '.', ',','[',']'])]
    result = pd.DataFrame(Counter(ngrams).most_common(20), columns=['ngram', 'freq'])
    result['ratio (%)'] = (result['freq'] / len(ngrams)) * 100
    return result

In [80]:
ngram_counter('philosophy_bigram')

            ngram  freq  ratio (%)
0      (give, up)   212   1.433110
1   (never, give)   158   1.068073
2      (want, to)   116   0.784155
3      (have, to)   105   0.709795
4      (can, not)    93   0.628676
5   (believe, in)    76   0.513757
6    (work, hard)    74   0.500237
7      (in, life)    62   0.419117
8    (every, day)    54   0.365038
9   (to, achieve)    45   0.304198
10      (try, to)    44   0.297438
11   (hard, work)    40   0.270398
12    (not, give)    38   0.256878
13     (need, to)    38   0.256878
14     (able, to)    37   0.250118
15      (to, get)    36   0.243358
16       (go, to)    28   0.189279
17      (get, up)    27   0.182519
18   (fight, for)    26   0.175759
19      (to, win)    25   0.168999

In [81]:
ngram_counter('philosophy_trigram')

                       ngram  freq  ratio (%)
0          (never, give, up)   157   1.978576
1            (not, give, up)    33   0.415879
2             (as, long, as)    23   0.289855
3   (most, important, thing)    14   0.176434
4             (to, give, up)    10   0.126024
5         (no, matter, what)    10   0.126024
6          (no, matter, how)    10   0.126024
7             (give, up, on)    10   0.126024
8         (about, how, hard)     9   0.113422
9     (with, an, impairment)     9   0.113422
10             (to, get, up)     9   0.113422
11       (dream, come, true)     9   0.113422
12            (as, hard, as)     9   0.113422
13          (to, work, hard)     8   0.100819
14    (have, an, impairment)     8   0.100819
15          (work, hard, to)     7   0.088217
16             (give, up, !)     7   0.088217
17           (way, of, life)     7   0.088217
18       (good, version, of)     7   0.088217
19        (want, to, become)     7   0.088217

In [83]:
ngram_counter('ambition_bigram')

                    ngram  freq  ratio (%)
0     (Paralympic, Games)  3013  14.946919
1             (Games, in)  2708  13.433872
2             (in, Tokyo)  2574  12.769124
3      (2020, Paralympic)  2550  12.650064
4               (to, win)  1513   7.505705
5           (to, compete)  1494   7.411450
6           (compete, at)  1457   7.227900
7             (medal, at)  1034   5.129477
8             (win, gold)   440   2.182756
9           (gold, medal)   404   2.004167
10             (gold, at)   399   1.979363
11     (2024, Paralympic)   108   0.535767
12            (in, Paris)    77   0.381982
13          (compete, in)    38   0.188511
14           (to, become)    38   0.188511
15        (world, record)    34   0.168668
16  (world, championship)    33   0.163707
17              (to, set)    28   0.138903
18       (Olympic, Games)    27   0.133942
19           (aspire, to)    26   0.128981

In [84]:
ngram_counter('ambition_trigram')

                        ngram  freq  ratio (%)
0     (Paralympic, Games, in)  2634  21.402454
1          (Games, in, Tokyo)  2572  20.898676
2   (2020, Paralympic, Games)  2549  20.711790
3           (to, compete, at)  1451  11.790038
4             (to, win, gold)   434   3.526448
5             (win, gold, at)   396   3.217681
6           (gold, medal, at)   377   3.063297
7   (2024, Paralympic, Games)   108   0.877549
8          (Games, in, Paris)    77   0.625660
9           (to, compete, in)    37   0.300642
10           (to, win, medal)    25   0.203136
11       (Olympic, Games, in)    23   0.186886
12           (win, medal, at)    22   0.178760
13     (2020, Olympic, Games)    19   0.154384
14            (win, gold, in)    19   0.154384
15       (outside, of, sport)    18   0.146258
16         (win, gold, medal)    17   0.138133
17             (to, win, two)    15   0.121882
18          (Games, in, 2020)    15   0.121882
19     (People, 's, Republic)    14   0.113756

In [23]:
# https://www.jasondavies.com/wordtree/
philosophies = [philosophy for philosophy in df.philosophy.tolist() if philosophy != 'none']
with open('philosophies.txt', 'w') as f:
    f.write("\n".join(philosophies))

ambitions = [ambition for ambition in df.ambition.tolist() if ambition != 'none']
with open('ambitions.txt', 'w') as f:
    f.write("\n".join(ambitions))

## 2. Hero

In [87]:
heros = []
for h in df.hero_list.tolist():
    heros += [x for x in h if x != 'none']

In [88]:
result = pd.DataFrame(Counter(heros).most_common(20), columns=['hero', 'freq'])
result['ratio (%)'] = (result['freq'] / len(heros)) * 100
result

                                           hero  freq  ratio (%)
0                     US swimmer Michael Phelps   106   4.183110
1                  Jamaican sprinter Usain Bolt    94   3.709550
2             Swiss tennis player Roger Federer    44   1.736385
3                                    His father    36   1.420679
4           Argentinian footballer Lionel Messi    33   1.302289
5           US basketball player Michael Jordan    32   1.262826
6            Spanish tennis player Rafael Nadal    30   1.183899
7       Portuguese footballer Cristiano Ronaldo    29   1.144436
8                         US boxer Muhammad Ali    23   0.907656
9                                    Her mother    18   0.710339
10          British Para swimmer Ellie Simmonds    12   0.473560
11                    Chinese hurdler Liu Xiang    12   0.473560
12                                  His parents    11   0.434096
13                                   Her father    11   0.434096
14                                  Her parents     9   0.355170
15             US basketball player Kobe Bryant     9   0.355170
16    Brazilian Formula One driver Ayrton Senna     9   0.355170
17           Brazilian Para swimmer Daniel Dias     9   0.355170
18                    US sprinter Allyson Felix     8   0.315706
19  Swedish table tennis player Jan-Ove Waldner     8   0.315706

In [110]:
heros_nationality = []
for h in df.hero_list.tolist():
    heros_nationality += [x.split()[0] for x in h if x != 'none' and x.split()[0] not in ['His', 'Her']]

In [112]:
# 영웅으로 지목된 사람들의 국적
result = pd.DataFrame(Counter(heros_nationality).most_common(20), columns=['hero', 'freq'])
result['ratio (%)'] = (result['freq'] / len(heros)) * 100
result

           hero  freq  ratio (%)
0            US   397  15.666930
1       British   134   5.288082
2     Brazilian   112   4.419890
3       Russian   109   4.301500
4    Australian   107   4.222573
5      Jamaican   101   3.985793
6       Spanish    94   3.709550
7       Chinese    78   3.078137
8        French    75   2.959747
9        German    70   2.762431
10        Swiss    61   2.407261
11      Italian    58   2.288871
12     Japanese    54   2.131018
13     Canadian    53   2.091555
14  Argentinian    48   1.894238
15   Portuguese    41   1.617995
16       Polish    36   1.420679
17    Ukrainian    35   1.381215
18        Dutch    30   1.183899
19        South    30   1.183899

In [113]:
# 영웅을 지목한 사람들의 국적
result = pd.DataFrame(Counter(df['country'].tolist()).most_common(20), columns=['hero', 'freq'])
result['ratio (%)'] = (result['freq'] / len(heros)) * 100
result

                          hero  freq  ratio (%)
0                        Japan   262  10.339384
1   People's Republic of China   256  10.102605
2                          RPC   248   9.786898
3     United States of America   243   9.589582
4                       Brazil   241   9.510655
5                Great Britain   221   8.721389
6                    Australia   181   7.142857
7                       France   145   5.722178
8                      Ukraine   139   5.485399
9                        Spain   137   5.406472
10                     Germany   137   5.406472
11                      Canada   129   5.090766
12                       Italy   114   4.498816
13                      Poland    91   3.591160
14                      Turkey    87   3.433307
15           Republic of Korea    85   3.354380
16                    Thailand    76   2.999211
17                 Netherlands    74   2.920284
18                    Colombia    66   2.604578
19    Islamic Republic of Iran    63   2.486188

In [90]:
# 영웅을 지목한 선수들 중 육상, 수영 선수의 비중이 가장 높음 
# 영웅으로 지목된 선수들 중에도 육상, 수영 선수의 비율이 높음 
result = pd.DataFrame(Counter(df['sports'].tolist()).most_common(20), columns=['hero', 'freq'])
result['ratio (%)'] = (result['freq'] / len(heros)) * 100
result

                      hero  freq  ratio (%)
0                Athletics  1142  45.067088
1                 Swimming   604  23.835833
2             Table Tennis   278  10.970797
3    Wheelchair Basketball   262  10.339384
4             Cycling Road   213   8.405683
5       Sitting Volleyball   187   7.379637
6             Powerlifting   178   7.024467
7                 Shooting   153   6.037885
8                  Archery   139   5.485399
9                     Judo   136   5.367009
10                Goalball   118   4.656669
11           Cycling Track   115   4.538279
12                  Boccia   114   4.498816
13                  Rowing   108   4.262036
14       Wheelchair Tennis   104   4.104183
15      Wheelchair Fencing    96   3.788477
16        Wheelchair Rugby    92   3.630624
17            Canoe Sprint    91   3.591160
18               Badminton    89   3.512234
19               Triathlon    80   3.157064

In [107]:
condition = 'sports'
all_cases = sorted(list(set(df[condition].tolist())))
for case in all_cases:
    heros = []
    for h in df.query('sports==@case').hero_list.tolist():
        heros += [x.replace('His ', '').replace('Her ', '').replace('his ', '').replace('her ', '') for x in h if x != 'none']
    result = pd.DataFrame(Counter(heros).most_common(20), columns=['hero', 'freq'])
    result['ratio (%)'] = (result['freq'] / len(heros)) * 100
    print('********')
    print(case)
    print(result)

********
 Archery
                                              hero  freq  ratio (%)
0                         Dutch arcMike Schloesser     4   8.163265
1                                           mother     3   6.122449
2             Iranian Para arcAlisina Manshaezadeh     2   4.081633
3                  Czech Para arcDavid Drahoninsky     2   4.081633
4        Brazilian basketball player Oscar Schmidt     1   2.040816
5      South African rugby player Francois Pienaar     1   2.040816
6                      English Para arcJohn Stubbs     1   2.040816
7                          Colombian arcSara Lopez     1   2.040816
8                                US arcRandy Ulmer     1   2.040816
9          Italian footballer Alessandro Del Piero     1   2.040816
10           English folklore character Robin Hood     1   2.040816
11                         Czech arcJaromir Termer     1   2.040816
12                          US arcJesse Broadwater     1   2.040816
13                  Irish jockey Rachael Blackmore     1   2.040816
14                   Irish activist Caroline Casey     1   2.040816
15                        British racehorse Enable     1   2.040816
16  Russian Greco-Roman wrestler Aleksandr Karelin     1   2.040816
17            Russian Para athlete Sergey Burlakov     1   2.040816
18                Ukrainian boxer Vasyl Lomachenko     1   2.040816
19      Russian ice hockey players Sergey Mozyakin     1   2.040816
********
 Athletics
                                        hero  freq  ratio (%)
0               Jamaican sprinter Usain Bolt    77   8.789954
1                                     father    15   1.712329
2        Argentinian footballer Lionel Messi    13   1.484018
3          Swiss tennis player Roger Federer    11   1.255708
4        US basketball player Michael Jordan    10   1.141553
5                      US boxer Muhammad Ali    10   1.141553
6    Portuguese footballer Cristiano Ronaldo    10   1.141553
7                  Chinese hurdler Liu Xiang     9   1.027397
8                  US sprinter Allyson Felix     8   0.913242
9          Czech javelin thrower Jan Zelezny     7   0.799087
10        Polish shot putter Tomasz Majewski     7   0.799087
11            German shot putter David Storl     6   0.684932
12                                   parents     5   0.570776
13     New Zealand shot putter Valerie Adams     5   0.570776
14       British wheelchair racer David Weir     5   0.570776
15         Swiss wheelchair racer Heinz Frei     5   0.570776
16        Chinese basketball player Yao Ming     5   0.570776
17                                    mother     5   0.570776
18               US sprinter Michael Johnson     4   0.456621
19  Finnish wheelchair racer Leo-Pekka Tahti     4   0.456621
********
 Badminton
                                            hero  freq  ratio (%)
0        Spanish badminton player Carolina Marin     3  12.500000
1         Japanese badminton player Kento Momota     2   8.333333
2               Chinese badminton player Lin Dan     2   8.333333
3        Taiwanese badminton player Tai Tzu-Ying     1   4.166667
4     Scottish Para badminton player Mary Wilson     1   4.166667
5              British tennis player Andy Murray     1   4.166667
6               English footballer David Beckham     1   4.166667
7       Australian badminton player Judy Cousins     1   4.166667
8              Egyptian footballer Mohamed Salah     1   4.166667
9                        US gymnast Simone Biles     1   4.166667
10                     US swimmer Michael Phelps     1   4.166667
11              US basketball player Kobe Bryant     1   4.166667
12              Thai Para athlete Prawat Wahoram     1   4.166667
13     Indonesian badminton player Greysia Polii     1   4.166667
14                     French judoka Teddy Riner     1   4.166667
15         Canadian badminton player Michelle Li     1   4.166667
16    Polish table tennis player Natalia Partyka     1   4.166667
17  British Para badminton player Krysten Coombs     1   4.166667
18    Indonesian badminton player Taufik Hidayat     1   4.166667
19     Brazilian Formula One driver Ayrton Senna     1   4.166667
********
 Boccia
                                                 hero  freq  ratio (%)
0             Portuguese footballer Cristiano Ronaldo     7       17.5
1                   Swiss tennis player Roger Federer     5       12.5
2         Portuguese boccia player Jose Carlos Macedo     2        5.0
3              Canadian boccia player Marco Dispaltro     2        5.0
4           Brazilian boccia player Dirceu Jose Pinto     1        2.5
5                 Argentinian footballer Lionel Messi     1        2.5
6              Australian boccia player Daniel Michel     1        2.5
7               Brazilian boccia player Maciel Santos     1        2.5
8          Brazilian Para canoeist Fernando Fernandes     1        2.5
9                Brazilian boccia player Dirceu Pinto     1        2.5
10                    Argentinian judoka Paula Pareto     1        2.5
11  Argentinian wheelchair tennis player Gustavo F...     1        2.5
12                 British boccia player Nigel Murray     1        2.5
13            French Para athlete Marie-Amelie Le Fur     1        2.5
14         Slovakian ice hockey player Michal Handzus     1        2.5
15                    English footballer Wayne Rooney     1        2.5
16             Hong Kong boccia player Leung Yuk Wing     1        2.5
17           English snooker player Ronnie O'Sullivan     1        2.5
18                  Swedish footballer Henrik Larsson     1        2.5
19                 Spanish tennis player Rafael Nadal     1        2.5
********
 Canoe Sprint
                                                 hero  freq  ratio (%)
0         British middle distance runner Kelly Holmes     2   5.405405
1                           US swimmer Michael Phelps     2   5.405405
2                  German Para cyclist Michael Teuber     1   2.702703
3                    German biathlete Laura Dahlmeier     1   2.702703
4                     Iranian wrestler Hassan Yazdani     1   2.702703
5                        Coach Jorge de Souza Freitas     1   2.702703
6             Portuguese footballer Cristiano Ronaldo     1   2.702703
7                    British Paralympian Denise Smith     1   2.702703
8       Brazilian paddler Fernando Fernandes De Padua     1   2.702703
9                               US rower Gevvie Stone     1   2.702703
10              South African swimmer Natalie Du Toit     1   2.702703
11       Iranian freestyle wrestler Gholamreza Takhti     1   2.702703
12                     Australian swimmer Dawn Fraser     1   2.702703
13                                            parents     1   2.702703
14           Austrian sprint paddler Viktoria Schwarz     1   2.702703
15                     Norwegian paddler Knut Holmann     1   2.702703
16  Australian paddlers Lachlan Tame and Rob McIntyre     1   2.702703
17                  English footballer Steven Gerrard     1   2.702703
18            Italian footballer Alessandro Del Piero     1   2.702703
19     Ukrainian Para canoe athlete Serhii Yemelianov     1   2.702703
********
 Cycling Road
                                                 hero  freq  ratio (%)
0   Italian racing driver and Para cyclist Alex Za...     2   3.636364
1                    French biathlete Martin Fourcade     2   3.636364
2                      US actor Arnold Schwarzenegger     1   1.818182
3                   Italian Para cyclist Alex Zanardi     1   1.818182
4                        French cyclist Bryan Coquard     1   1.818182
5   Italian paracyclist and Formula One driver Ale...     1   1.818182
6                         Spanish cyclist Eloy Teruel     1   1.818182
7        Spanish Para cyclist Jose Antonio Villanueva     1   1.818182
8   Spanish road cyclists Carlos Sastre and Oscar ...     1   1.818182
9                        Swiss handcyclist Heinz Frei     1   1.818182
10        Australian marathon swimmer Tammy van Wisse     1   1.818182
11                Canadian road cyclist Lyne Bessette     1   1.818182
12       Canadian wheelchair racer Chantal Petitclerc     1   1.818182
13                 Italian road cyclist Marco Pantani     1   1.818182
14   Australian cyclists Richie Porte and Cadel Evans     1   1.818182
15           South African triathlete Raynard Tissink     1   1.818182
16           Norwegian biathlete Ole Einar Bjorndalen     1   1.818182
17                 British Para athlete Rachel Morris     1   1.818182
18  Italian motor racing driver and Para cyclist A...     1   1.818182
19              Canadian wheelchair racer Andre Viger     1   1.818182
********
 Cycling Track
                                                 hero  freq  ratio (%)
0                  Italian road cyclist Marco Pantani     2   5.882353
1                     British track cyclist Chris Hoy     2   5.882353
2                Australian 400m runner Cathy Freeman     2   5.882353
3                         Spanish cyclist Eloy Teruel     1   2.941176
4        Spanish Para cyclist Jose Antonio Villanueva     1   2.941176
5   Spanish road cyclists Carlos Sastre and Oscar ...     1   2.941176
6                 US basketball player Michael Jordan     1   2.941176
7    Australian cyclists Richie Porte and Cadel Evans     1   2.941176
8                  British Para athlete Rachel Morris     1   2.941176
9                British politician Winston Churchill     1   2.941176
10           Australian Para athlete Kelly Cartwright     1   2.941176
11           Australian Para cyclist Felicity Johnson     1   2.941176
12  US sprinters Carl Lewis and Florence Griffith ...     1   2.941176
13                      Czech Para cyclist Jiri Jezek     1   2.941176
14                  British Para cyclist Sarah Storey     1   2.941176
15                      French decathlete Kevin Mayer     1   2.941176
16                   French biathlete Martin Fourcade     1   2.941176
17                   Scottish track cyclist Chris Hoy     1   2.941176
18                 Australian cyclists Stuart O'Grady     1   2.941176
19                      Robbie McEwen and Cadel Evans     1   2.941176
********
 Equestrian
                                                 hero  freq  ratio (%)
0              Dutch dressage rider Anky van Grunsven     2   5.263158
1           British dressage rider Charlotte Dujardin     2   5.263158
2                     Dutch dressage rider Edward Gal     2   5.263158
3   British equestrian riders Zara Tindall and Lee...     1   2.631579
4             Australian equestrian riders Andrew Hoy     1   2.631579
5                                       Stuart Tinney     1   2.631579
6                                          Heath Ryan     1   2.631579
7                        Megan Jones and Grace Bowman     1   2.631579
8               German dressage rider Klaus Balkenhol     1   2.631579
9                           US powerlifter Stef Cohen     1   2.631579
10  Singaporean Para equestrian dressage rider Lau...     1   2.631579
11                 British dressage rider Carl Hester     1   2.631579
12                            US animator Walt Disney     1   2.631579
13                 German dressage rider Isabel Werth     1   2.631579
14                               Coach Hasse Hoffmann     1   2.631579
15                British Para equestrian Lee Pearson     1   2.631579
16          British Para equestrian rider Lee Pearson     1   2.631579
17               German dressage rider Ulla Salzgeber     1   2.631579
18   Russian Para dressage rider Natalya Zhavoronkova     1   2.631579
19                      Swiss rider Ali Schwarzenbach     1   2.631579
********
 Football 5-a-side
                                             hero  freq  ratio (%)
0             Argentinian footballer Lionel Messi     5  17.857143
1               French footballer Zinedine Zidane     3  10.714286
2             Italian goalkeeper Gianluigi Buffon     2   7.142857
3         Portuguese footballer Cristiano Ronaldo     2   7.142857
4          Brazilian footballer Ronaldinho Gaucho     2   7.142857
5                  Brazilian futsal player Falcao     1   3.571429
6                  Brazilian footballer Neymar Jr     1   3.571429
7             Italian footballer Gianluigi Buffon     1   3.571429
8                           US boxer Muhammad Ali     1   3.571429
9        Brazilian Para footballer Mizael Conrado     1   3.571429
10         Moroccan footballer Mouhcine Moutouali     1   3.571429
11           Japanese footballer Masashi Nakayama     1   3.571429
12              Spanish footballer Andres Iniesta     1   3.571429
13                 French footballer N'Golo Kante     1   3.571429
14                   Brazilian footballer Ronaldo     1   3.571429
15  Football goalkeepers Iker Casillas from Spain     1   3.571429
16                    Gianluigi Buffon from Italy     1   3.571429
17                  Peter Schmeichel from Denmark     1   3.571429
18       Japanese goalkeeper Yoshikatsu Kawaguchi     1   3.571429
********
 Goalball
                                             hero  freq  ratio (%)
0      Australian goalball player Meica Horsburgh     2   5.714286
1   Lithuanian basketball player Mantas Kalnietis     1   2.857143
2                    Chinese teacin junior school     1   2.857143
3                                         parents     1   2.857143
4              US goalball player Lisa Czechowski     1   2.857143
5              German footballer Frank Ordenewitz     1   2.857143
6          Brazilian tennis player Gustavo Kurten     1   2.857143
7                                          father     1   2.857143
8   Brazilian goalball player Ana Carolina Duarte     1   2.857143
9          Russian goalball player Irina Arestova     1   2.857143
10            US basketball player Michael Jordan     1   2.857143
11              German goalball player Reno Teide     1   2.857143
12                 US goalball player Asya Miller     1   2.857143
13                              Coach Tony Jepson     1   2.857143
14         Japanese baseball player Ichiro Suzuki     1   2.857143
15                                Author Ayn Rand     1   2.857143
16                American footballer Kevin Mason     1   2.857143
17                                        brother     1   2.857143
18                   US author John Michael Green     1   2.857143
19    Lithuanian discus thrower Virgilijus Alekna     1   2.857143

********
 Judo
                                                 hero  freq  ratio (%)
0                                              father     3   6.818182
1                          Japanese judoka Shohei Ono     2   4.545455
2                           French judoka Teddy Riner     2   4.545455
3                     Japanese judoka Tadahiro Nomura     2   4.545455
4   Brazilians judokas Rogerio Sampaio and Aurelio...     1   2.272727
5               Brazilian Para judoka Antonio Tenorio     1   2.272727
6                Brazilian Para judoka Roberto Julian     1   2.272727
7                       Brazilian judoka Rafael Silva     1   2.272727
8           Brazilian judoka Antonio Tenorio da Silva     1   2.272727
9                     Brazilian judoka Eduardo Santos     1   2.272727
10                        Korean judoka Jeon Ki Young     1   2.272727
11                         Greek judoka Ilias Iliadis     1   2.272727
12                        Canadian singer Celine Dion     1   2.272727
13              Azerbaijani Para judoka Ilham Zakiyev     1   2.272727
14                    Spanish judoka Isabel Fernandez     1   2.272727
15                      Japanese judoka Tomoko Fukumi     1   2.272727
16          Japanese cartoon character Edward Newgate     1   2.272727
17                 Ukrainian footballer Dmytro Klyots     1   2.272727
18                 Ukrainian judoka Georgii Zantaraia     1   2.272727
19                    Japanese judoka Masashi Ebinuma     1   2.272727
********
 Powerlifting
                                                 hero  freq  ratio (%)
0              Egyptian Para powerlifter Sherif Osman     8   5.263158
1                                              father     5   3.289474
2             Iranian Para powerlifter Siamand Rahman     4   2.631579
3               Chinese Para powerlifter Shi Shanshan     4   2.631579
4                                              mother     3   1.973684
5                Nigerian Para powerlifter Lucy Ejike     3   1.973684
6                                             parents     3   1.973684
7              Turkish weightlifter Naim Suleymanoglu     3   1.973684
8                 Kazakhstani weightlifter Ilya Ilyin     3   1.973684
9                 Argentinian footballer Lionel Messi     3   1.973684
10                    Brazilian footballer Ronaldinho     2   1.315789
11          Brazilian Formula One driver Ayrton Senna     2   1.315789
12          Vietnamese pistol shooter Hoang Xuan Vinh     2   1.315789
13                          Chinese hurdler Liu Xiang     2   1.315789
14          Egyptian Para powerlifter Metwaly Mathana     2   1.315789
15       Iranian freestyle wrestler Gholamreza Takhti     2   1.315789
16              Mexican Para powerlifter Amalia Perez     2   1.315789
17                              Coach Shabaan Desouky     1   0.657895
18  Egyptian Para powerlifter Shaaban Yahya El Des...     1   0.657895
19        Kazakhstani powerlifter Lyazat Salimzhanova     1   0.657895
********
 Rowing
                                                 hero  freq  ratio (%)
0                  Belarusian rower Ekaterina Karsten     2   5.882353
1                           US swimmer Michael Phelps     2   5.882353
2                               US boxer Muhammad Ali     2   5.882353
3                US wheelchair racer Tatyana McFadden     2   5.882353
4                           Brazilian footballer Zico     1   2.941176
5                  Slovakian road cyclist Peter Sagan     1   2.941176
6                  Italian alpine skier Dominik Paris     1   2.941176
7                   Ukrainian Para rower Alla Lysenko     1   2.941176
8   Brazilian sprint paddler Isaquias Queiroz Dos ...     1   2.941176
9                    Brazilian rower Fabiana Beltrame     1   2.941176
10                     US basketballer Michael Jordan     1   2.941176
11                              US rower Gevvie Stone     1   2.941176
12                                              coach     1   2.941176
13                      French Para rower Perle Bouge     1   2.941176
14                   Ukrainian swimmer Yana Klochkova     1   2.941176
15  Russian Para cross-country skier and biathlete...     1   2.941176
16                              US rower Mary Whipple     1   2.941176
17                  German Para swimmer Kirsten Bruhn     1   2.941176
18                                        grandfather     1   2.941176
19           who played competitive handball in Spain     1   2.941176
********
 Shooting
                                                hero  freq  ratio (%)
0                       Jamaican sprinter Usain Bolt     3   6.521739
1                                             father     2   4.347826
2               Swedish Para shooter Jonas Jacobsson     2   4.347826
3                              Coach Mohamed Hussein     1   2.173913
4        British hockey player Kate Richardson-Walsh     1   2.173913
5               Russian Para shooter Sergey Malyshev     1   2.173913
6               Russian biathlete Evgeniy Garanichev     1   2.173913
7             Canadian Para shooter Chris Trifonidis     1   2.173913
8     North Macedonian Para shooter Vanco Karanfilov     1   2.173913
9            Italian sport shooter Niccolo Campriani     1   2.173913
10                 Swiss tennis player Roger Federer     1   2.173913
11  Chinese pistol shooters Wang Yifu and Xu Haifeng     1   2.173913
12                                           fatJohn     1   2.173913
13            Italian sport shooter Roberto Di Donna     1   2.173913
14                  French sprinter Marie-Jose Perec     1   2.173913
15        Slovakian Para shooter Veronika Vadovicova     1   2.173913
16                Thai shooter Jakkrit Panichpatikum     1   2.173913
17            Russian shooter Vitalina Batsarashkina     1   2.173913
18              Czech sport shooter David Kostelecky     1   2.173913
19             US boxers Mike Tyson and Muhammad Ali     1   2.173913
********
 Sitting Volleyball
                                                 hero  freq  ratio (%)
0                                              father     6  10.909091
1                 Argentinian footballer Lionel Messi     2   3.636364
2           Brazilian Formula One driver Ayrton Senna     2   3.636364
3             Italian footballer Alessandro Del Piero     2   3.636364
4      Egyptian volleyball player Abdallah Abdelsalam     1   1.818182
5                                            daughter     1   1.818182
6   Iranian sitting volleyball player and coach Ha...     1   1.818182
7                               US boxer Roy Jones Jr     1   1.818182
8      Russian mixed martial artist Fedor Emelianenko     1   1.818182
9           Italian volleyball player Francesca Bosio     1   1.818182
10                  Swiss tennis player Roger Federer     1   1.818182
11                 Iranian wrestler Gholamreza Takhti     1   1.818182
12  Italian volleyball players Francesca Piccinini...     1   1.818182
13                       Brazilian footballer Ronaldo     1   1.818182
14                US basketball player Michael Jordan     1   1.818182
15                    Canadian Para athlete Terry Fox     1   1.818182
16                         US surfer Bethany Hamilton     1   1.818182
17  US tennis players Venus Williams and Serena Wi...     1   1.818182
18              Egyptian footballer Mahmoud El Khatib     1   1.818182
19                                   sister Stephanie     1   1.818182
********
 Swimming
                                                 hero  freq  ratio (%)
0                           US swimmer Michael Phelps    92  17.864078
1                 British Para swimmer Ellie Simmonds    11   2.135922
2                  Brazilian Para swimmer Daniel Dias     9   1.747573
3                          British swimmer Adam Peaty     7   1.359223
4                     Russian swimmer Alexander Popov     7   1.359223
5                 US basketball player Michael Jordan     6   1.165049
6                    Hungarian swimmer Katinka Hosszu     6   1.165049
7             Australian Para swimmer Matthew Cowdrey     6   1.165049
8                        Jamaican sprinter Usain Bolt     6   1.165049
9                 Argentinian footballer Lionel Messi     6   1.165049
10                     Russian swimmer Yuliya Efimova     6   1.165049
11                Spanish Para swimmer Teresa Perales     5   0.970874
12                                             father     4   0.776699
13            Portuguese footballer Cristiano Ronaldo     4   0.776699
14         South African Para swimmer Natalie du Toit     4   0.776699
15  Spanish Para swimmer and Para cyclist Ricardo Ten     4   0.776699
16             Brazilian Para swimmer Clodoaldo Silva     4   0.776699
17                       US Para swimmer Jessica Long     4   0.776699
18            Dutch swimmer Pieter van den Hoogenband     4   0.776699
19                Italian swimmer Federica Pellegrini     4   0.776699
********

 Table Tennis
                                                hero  freq  ratio (%)
0                 Spanish tennis player Rafael Nadal    11   7.971014
1        Swedish table tennis player Jan-Ove Waldner     8   5.797101
2                  Swiss tennis player Roger Federer     6   4.347826
3                Chinese table tennis player Ma Long     5   3.623188
4         Polish table tennis player Natalia Partyka     5   3.623188
5                US basketball player Michael Jordan     4   2.898551
6               German table tennis player Timo Boll     4   2.898551
7               Serbian tennis player Novak Djokovic     4   2.898551
8                                             father     3   2.173913
9                              US boxer Muhammad Ali     3   2.173913
10    Swedish Para table tennis player Ernst Bollden     2   1.449275
11               Argentinian footballer Lionel Messi     2   1.449275
12            Chinese table tennis player Zhang Jike     2   1.449275
13  Belarusian table tennis player Vladimir Samsonov     2   1.449275
14         Polish table tennis player Andrzej Grubba     2   1.449275
15                   French footballer Thierry Henry     2   1.449275
16        Swedish table tennis player Jorgen Persson     1   0.724638
17     Russian figure skating coach Eteri Tutberidze     1   0.724638
18  Turkish Para table tennis player Abdullah Ozturk     1   0.724638
19      British wheelchair racer Tanni Grey-Thompson     1   0.724638
********
 Taekwondo
                                                 hero  freq  ratio (%)
0                                             parents     2   5.714286
1         Jordanian taekwondo athlete Ahmad Abughaush     1   2.857143
2               Korean taekwondo athlete Lee Dae-Hoon     1   2.857143
3   Azerbaijani taekwondo athletes Niyamaddin Pash...     1   2.857143
4                       Indian boxer Paramjeet Samota     1   2.857143
5   Italian racing driver and Para cyclist Alex Za...     1   2.857143
6            Turkish taekwondo athlete Servet Tazegul     1   2.857143
7               Brazilian taekwondoka Milena Titoneli     1   2.857143
8          Brazilian Para taekwondoka Nathan Torquato     1   2.857143
9           Brazilian Para sprinter Petrucio Ferreira     1   2.857143
10                 Kazakhstani boxer Gennady Golovkin     1   2.857143
11  Russian mixed martial arts fighter Khabib Nurm...     1   2.857143
12                 Afghan taekwondoka Rohullah Nikpai     1   2.857143
13                            US gymnast Simone Biles     1   2.857143
14  Ukrainian Para table tennis player Maryna Lyto...     1   2.857143
15     Ukrainian Para Nordic skier Liudmyla Liashenko     1   2.857143
16            Portuguese footballer Cristiano Ronaldo     1   2.857143
17                  Swiss tennis player Roger Federer     1   2.857143
18      British-Moldovan taekwondo athlete Aaron Cook     1   2.857143
19                  US mixed-martial artist Nate Diaz     1   2.857143
********
 Triathlon
                                                 hero  freq  ratio (%)
0                           US swimmer Michael Phelps     4  12.121212
1                Spanish triathlete Javier Gomez Noya     2   6.060606
2                    My wife Leah and Daughter Audrey     1   3.030303
3                      French triathlete Vincent Luis     1   3.030303
4                 Russian triathlete Dmitry Polyansky     1   3.030303
5   US Para cross-country skier and rower Oksana M...     1   3.030303
6                 US Para triathlete Sarah Reinertsen     1   3.030303
7                 Japanese footballer Kazuyoshi Miura     1   3.030303
8                        Jamaican sprinter Usain Bolt     1   3.030303
9   British triathletes Alistair Brownlee and Jonn...     1   3.030303
10                  Japanese triathlete Kiyomi Niwata     1   3.030303
11       British middle-distance runner Sebastian Coe     1   3.030303
12                American football player Hines Ward     1   3.030303
13                               US singer Katy Perry     1   3.030303
14                 Australian triathlete Brad Fernley     1   3.030303
15                         US triathlete Siri Lindley     1   3.030303
16  British triathletes Chrissie Wellington and La...     1   3.030303
17              New Zealander paddler Lisa Carrington     1   3.030303
18             British triathlete Chrissie Wellington     1   3.030303
19  Spanish triathletes Javier Gomez Noya and Ivan...     1   3.030303
********
 Wheelchair Basketball
                                                 hero  freq  ratio (%)
0                                              father     9   7.317073
1                 US basketball player Michael Jordan     7   5.691057
2   Iranian wheelchair basketball player Alireza A...     5   4.065041
3   Canadian wheelchair basketball player Patrick ...     5   4.065041
4                                              mother     3   2.439024
5   Australian wheelchair basketball player Shaun ...     2   1.626016
6                                             parents     2   1.626016
7                      US basketballer Michael Jordan     2   1.626016
8                    US basketball player Kobe Bryant     2   1.626016
9                                         grandfather     2   1.626016
10    British wheelchair basketball player Simon Munn     2   1.626016
11                   Algerian footballer Riyad Mahrez     2   1.626016
12                    US basketball player Larry Bird     2   1.626016
13                       US basketballer LeBron James     1   0.813008
14                              and coach Abbaz Selim     1   0.813008
15              Japanese baseball player Shohei Otani     1   0.813008
16              US American football player Tom Brady     1   0.813008
17                  Swiss tennis player Roger Federer     1   0.813008
18  Australian wheelchair basketball player Justin...     1   0.813008
19  US wheelchair basketball player Rose Marie Hol...     1   0.813008
********
 Wheelchair Fencing
                                                 hero  freq  ratio (%)
0                               US boxer Muhammad Ali     1   3.571429
1              British triple jumper Jonathan Edwards     1   3.571429
2                                           Hong Kong     1   3.571429
3                 China wheelchair fencer Yu Chui Yee     1   3.571429
4      Hungarian wheelchair fencer Zsuzsanna Krajnyak     1   3.571429
5   British wheelchair basketball player and telev...     1   3.571429
6            Ukrainian wheelchair fencer Anton Datsko     1   3.571429
7                  Italian footballer Francesco Totti     1   3.571429
8              Wheelchair fencing coach Linio Eduardo     1   3.571429
9                     Brazilian footballer Ronaldinho     1   3.571429
10                  Polish fencing coach Michal Morys     1   3.571429
11                       Russian fencer David Tyshler     1   3.571429
12                     Italian fencer Daniele Garozzo     1   3.571429
13        Ukrainian wheelchair fencer Yevheniia Breus     1   3.571429
14                  Italian fencer Elisa Di Francisca     1   3.571429
15               Polish footballer Robert Lewandowski     1   3.571429
16            Polish wheelchair fencer Dariusz Pender     1   3.571429
17                                         and father     1   3.571429
18                          Hong Kong Para arcLau Sik     1   3.571429
19                French fencing coach Jean Yves Huet     1   3.571429
********
 Wheelchair Rugby
                                                 hero  freq  ratio (%)
0                  US motocross rider Travis Pastrana     2   4.878049
1                          French athlete Kevin Mayer     2   4.878049
2                                             parents     2   4.878049
3                    US baseball player Kirby Puckett     1   2.439024
4                  US basketball player Kevin Garnett     1   2.439024
5                    English footballer David Beckham     1   2.439024
6                English rugby player Jonny Wilkinson     1   2.439024
7          Canadian ice hockey player Stephane Richer     1   2.439024
8             French rugby union player Vincent Clerc     1   2.439024
9                                        grandparents     1   2.439024
10         Australian rules footballer Shane Crawford     1   2.439024
11                              US boxer Muhammad Ali     1   2.439024
12                  Australian sprinter Cathy Freeman     1   2.439024
13  Japanese wheelchair rugby player Shinichi Shim...     1   2.439024
14  Australian V8 racing car drivers Peter Brock a...     1   2.439024
15   Japanese wheelchair rugby player Daisuke Ikezaki     1   2.439024
16                   French biathlete Martin Fourcade     1   2.439024
17                  Swiss tennis player Roger Federer     1   2.439024
18                        US basketballer Kobe Bryant     1   2.439024
19                     British adventurer Bear Grylls     1   2.439024
********
 Wheelchair Tennis
                                                 hero  freq  ratio (%)
0                  Spanish tennis player Rafael Nadal    13  17.567568
1                   Swiss tennis player Roger Federer    13  17.567568
2           Dutch wheelchair tennis player EstVergeer     6   8.108108
3    Japanese wheelchair tennis player Shingo Kunieda     3   4.054054
4                 Australian tennis player Pat Rafter     2   2.702703
5                                              father     2   2.702703
6                       US tennis player Pete Sampras     2   2.702703
7                                             parents     2   2.702703
8             Brazilian tennis player Gustavo Kuerten     2   2.702703
9    Australian wheelchair tennis player Dani di Toro     1   1.351351
10           English rugby union player Dylan Hartley     1   1.351351
11              Russian tennis player Maria Sharapova     1   1.351351
12                 Swiss tennis player Martina Hingis     1   1.351351
13                Chilean tennis player Nicolas Massu     1   1.351351
14          Australian wheelchair racer Kurt Fearnley     1   1.351351
15  Australian rules football players Dustin Marti...     1   1.351351
16  Polish wheelchair tennis player Tadeusz Krusze...     1   1.351351
17  My grandfatDavid Hooper for never giving up Ma...     1   1.351351
18  terminal cancer being one of them spirit and d...     1   1.351351

19                   Korean tennis player Chung Hyeon     1   1.351351

In [119]:
condition = 'gender'
all_cases = sorted(list(set(df[condition].tolist())))
for case in all_cases:
    heros = []
    for h in df.query('gender==@case').hero_list.tolist():
        heros += [x.replace('His ', '').replace('Her ', '').replace('his ', '').replace('her ', '') for x in h if x != 'none']
    result = pd.DataFrame(Counter(heros).most_common(20), columns=['hero', 'freq'])
    result['ratio (%)'] = (result['freq'] / len(heros)) * 100
    print('********')
    print(case)
    print(result)

********
Female
                                            hero  freq  ratio (%)
0                      US swimmer Michael Phelps    34   3.285024
1                   Jamaican sprinter Usain Bolt    31   2.995169
2                                         mother    20   1.932367
3                                         father    12   1.159420
4            British Para swimmer Ellie Simmonds    11   1.062802
5            Argentinian footballer Lionel Messi    10   0.966184
6                                        parents     9   0.869565
7                      US sprinter Allyson Felix     8   0.772947
8              Swiss tennis player Roger Federer     8   0.772947
9             Spanish tennis player Rafael Nadal     8   0.772947
10                Russian swimmer Yuliya Efimova     7   0.676329
11              Hungarian swimmer Katinka Hosszu     6   0.579710
12  Canadian wheelchair racer Chantal Petitclerc     6   0.579710
13     Dutch wheelchair tennis player EstVergeer     6   0.579710
14           Spanish Para swimmer Teresa Perales     5   0.483092
15                     Chinese hurdler Liu Xiang     5   0.483092
16          US wheelchair racer Tatyana McFadden     5   0.483092
17        Egyptian Para powerlifter Sherif Osman     4   0.386473
18        British heptathlete Jessica Ennis-Hill     4   0.386473
19                                   grandmother     4   0.386473
********
Male
                                           hero  freq  ratio (%)
0                     US swimmer Michael Phelps    72   4.803202
1                  Jamaican sprinter Usain Bolt    63   4.202802
2                                        father    38   2.535023
3             Swiss tennis player Roger Federer    36   2.401601
4           US basketball player Michael Jordan    29   1.934623
5       Portuguese footballer Cristiano Ronaldo    26   1.734490
6           Argentinian footballer Lionel Messi    23   1.534356
7            Spanish tennis player Rafael Nadal    22   1.467645
8                         US boxer Muhammad Ali    19   1.267512
9                                       parents    11   0.733823
10    Brazilian Formula One driver Ayrton Senna     9   0.600400
11  Swedish table tennis player Jan-Ove Waldner     7   0.466978
12             US basketball player Kobe Bryant     7   0.466978
13             French biathlete Martin Fourcade     7   0.466978
14                    Chinese hurdler Liu Xiang     7   0.466978
15      Australian Para swimmer Matthew Cowdrey     6   0.400267
16              Russian swimmer Alexander Popov     6   0.400267
17            Czech javelin thrower Jan Zelezny     6   0.400267
18           Polish shot putter Tomasz Majewski     6   0.400267
19           Brazilian Para swimmer Daniel Dias     6   0.400267